// src/styles/_forms.scss

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: $light-gray;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    label {
      display: flex;
      flex-direction: column;
      color: $dark-gray;
      font-weight: bold;
    }
  
    input {
      padding: $input-padding;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      font-size: 1rem;
    }
  
    button {
      background-color: $primary-color;
      color: white;
      padding: 0.8rem;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
  
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
  
  .form-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  
    label {
      flex: 1;
    }
  
    &.center {
      justify-content: center;
    }
  }