<div class="bienvenida-container">
  <header class="header">
    <div class="logo">
      <img src="/verificacion.png" alt="Logo" />
      <span class="titulo">ApuntaNet</span>
    </div>
  </header>

<div class="hogar-fondo">
  <div class="hogar-container">
    <div class="hogar-titulo" style="margin-bottom: 1rem;">
      <p>Gestionando el hogar: <span class="hogar-nombre"><strong>{{ nombreHogar }}</strong></span></p>
    </div>
    <div class="hogar-main">
      <nav class="hogar-menu">
        <button 
          class="menu-btn"
          [ngClass]="{ 'activo': seccionActiva === 'gastos' }"
          (click)="seccionActiva = 'gastos'">Control de Gastos</button>

        <button 
          class="menu-btn"
          [ngClass]="{ 'activo': seccionActiva === 'residentes' }"
          (click)="mostrarResidentes()">Residentes</button>

        <button class="menu-btn" routerLink="/bienvenida">Volver</button>
      </nav>
      <section class="hogar-contenido">
          <!-- SECCIÓN DE CONTROL DE GASTOS -->
        <div *ngIf="seccionActiva === 'gastos'">
          <h3>Control de Gastos</h3>
          <div class="grid-gastos-tres-columnas">
            <button type="button" class="btn-primary" (click)="mostrarModalCategoria(); $event.stopPropagation()">Agregar categoria</button>
            <button class="btn-primary">Generar ticket</button>
            <button class="btn-primary" (click)="generarPDF()">
              Generar reporte individual
            </button>
            <button class="btn-primary">
              {{ esCreador ? 'Monto hogar' : 'Monto individual' }}
            </button>
            <button *ngIf="esCreador" class="btn-primary">Revisar Ticket</button>
            <button class="btn-primary" (click)="generarPDFgrupal()">Generar reporte del hogar</button>
          </div>
        </div>

        <!-- SECCIÓN DE CONTROL DE RESIDENTES -->
        <div *ngIf="seccionActiva === 'residentes' && residentes.length > 0" class="seccion-residentes">
          <div class="grid-residentes">
            <div class="tarjeta-residente" *ngFor="let r of residentes">
              <strong>{{ r.usuario }}</strong>
              <span *ngIf="r.es_creador" class="creador-tag"> (Creador)</span><br>
              {{ r.correo }}<br>
              {{ r.telefono }}<br>
              <small>Fecha de ingreso: {{ r.fecha | date:'mediumDate' }}</small>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!--  -->
<!-- SECCCIÓN DE CREAR CATEGORIA -->
 <!--  -->
<div class="modal-fondo" *ngIf="modalVisible==1 && error==1">
  <div class="modal-contenido" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Agregar categoría al hogar</h3>
    </div>
    <div class="modal-body">
      <form [formGroup]="crearCategoriaForm" (ngSubmit)="crearCategoria()">
        <div class="form-grupo">
          <label for="categoriaSelect">Categoría *</label>
          <select 
            id="categoriaSeleccionada"
            formControlName="categoriaSeleccionada"
            (change)="actualizarDescripcionCategoria()"
          >
            <option value="" disabled selected>Selecciona una categoria</option>
            <option *ngFor="let cat of categoriasDisponibles" [value]="cat.id">
              {{ cat.nombre }}
            </option>
          </select>
          <div class="mensaje-error" *ngIf="getMensajeError('categoriaSeleccionada')">
            {{ getMensajeError('categoriaSeleccionada') }}
          </div>
        </div>

        <div class="form-grupo">
          <label for="descripcion">Descripción</label>
          <textarea 
            id="descripcion" 
            [value]="descripcionCategoria"
            disabled
            rows="4"
          ></textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn-secondary" (click)="cerrarModal()">Cancelar</button>
          <button type="submit" class="btn-primary">Agregar categoría</button>
        </div>
      </form>
    </div>
  </div>
</div>
